In [1]:
import pandas as pd
file_path = "Downloads/cleveland.data"
# above .data file is comma delimited
heart_disease_data = pd.read_csv(file_path, delimiter=",")

In [2]:
heart_disease_data

                      1 0 63 1 -9 -9 -9
0               -9 1 145 1 233 -9 50 20
1                     1 -9 1 2 2 3 81 0
2                   0 0 0 0 1 10.5 6 13
3              150 60 190 90 145 85 0 0
4               2.3 3 -9 172 0 -9 -9 -9
...                                 ...
2976                                1 8
2977  -0 0 0 1 9 -9 130 80 0 130 80 0 1
2978                -9 3 1h9 1 -9 -9 -9
2979                               -9 3
2980               -9 -9 -9 3 -9 -4 1 1

[2981 rows x 1 columns]

In [4]:
# reading from the file
file = open("Downloads/cleveland.data", "rb")
file.read()
file.close()

In [7]:
file_path = "Downloads/processed.cleveland.data"
# above .data file is comma delimited
heart_disease_data = pd.read_csv(file_path, delimiter=",")

In [8]:
heart_disease_data

,63.0,1.0,1.0.1,145.0,233.0,1.0.2,2.0,150.0,0.0,2.3,3.0,0.0.1,6.0,0
0,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
1,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
2,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
3,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
4,56.0,1.0,2.0,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
298,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
299,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
300,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1
301,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,?,3.0,0

In [10]:
heart_disease_data.to_csv("Documents/sample_data.csv")